.productContainer .add-to-aliwoo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    display: none;
    background-color: white;
    cursor: pointer;
    padding: 16px;
}

.productContainer:hover .add-to-aliwoo {
    display: block;
}